body {
    margin: auto;
    max-width: 1200px;
    background-image: url(Images/Backgound\ 1\ narrow.jpg);
    background-size: cover;
}

.title {
    text-align: center;
    margin-top: 50px;
}

.menu {
    background-color: black;
    height: 60px;
}

.mpont {
    color: lightslategray;
    text-align: center;
    font-size: 18px;
}

.mzazi {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.map {
    width: 100%;
    margin-top: 30px;
}

.szoveg {
    font-size: 18px;
}

.link {
    text-decoration: none;
    color: lightslategray;
}

.rmenu {
    text-align: right;
    color: white;
}

.flipp {
    color: white;
}

.ad {
    width: 1200px;
}

.pxa {
    height: 700px;
}

.mfent {
    margin-top: 60px;
}

.szoveg {
    font-size: 110%;
}

h2 {
    margin-bottom: 20px;
}

.kzazi {
    width: 100%;
    height: 274px;
}

.kepelv {
    height: 24px;
}

#felcucc {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    background-color: #555;
  }
  
  #felcucc:hover {
    background-color: #444;
  }