body {
    margin: auto;
    max-width: 1200px;
    background-image: url(Images/Backgound\ 1\ narrow.jpg);
    background-size: cover;
}

.title {
    text-align: center;
    margin-top: 50px;
}

.menu {
    background-color: black;
    height: 60px;
}

.mpont {
    color: lightslategray;
    text-align: center;
    font-size: 18px;
}

.mzazi {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.kspace {
    height: 60px;
}

.map {
    height: 300px;
}

.szoveg {
    font-size: 18px;
}

.link {
    text-decoration: none;
    color: lightslategray;
}

.rmenu {
    text-align: right;
    color: white;
}

.flipp {
    color: white;
}

.ad {
    width: 1200px;
}

.pxa {
    height: 700px;
}